.hero {
    padding-top: 134px;
}

.hero__wrapper {
    display: flex;
}

.hero__text-section {
    width: 424px;
}

.hero__hero-title {
margin-bottom: 32px;
}

.hero-title__title-span {
}

.hero__hero-description {
    margin-bottom: 32px;
}

.hero__hero-call-to-action {
    
font-family: Montserrat;
color: #757575;

margin-bottom: 48px;
}

.hero__button {
}

.hero__hero-img {
}