// Color variables
:root {
    --default-color: #100F0F;
    --accent-color: #F96739;

    --title-color: #100F0F;
    --title-color-secondary: #ffffff;

    --navigation-color: #100F0F;

    --button-primary: #100F0F;
    --button-secondary: #F96739;
    --button-intermediate: #ffffff;

    --icon-primary: #FDEAC4;
    --icon-secondary: #F8BA3B;

    --form-title: #757575;
    --form-input: #444444;
}